<!DOCTYPE html>
<html lang="en">
<head>
     <title>Forgot Pasword</title>
</head>
<body>
       {% autoescape off %}

        Hi {{ user.get_username }},

        You requested a password reset for your account

        Click the link below to reset your password:

        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

        If you did not request a password reset, you can safely ignore this email.

        Regards,
        Messenger Team

        {% endautoescape %}
</body>
</html>